@import url("https://fonts.googleapis.com/css?family=Montserrat");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Monstserrat";
  text-align: center;
  margin: 0 auto;
  background-color: black;
}

/* Animation */

a:hover {
  background: linear-gradient(90deg, rgb(255, 43, 43), rgb(62, 62, 144));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  background-color: blue;
}
